doctype html
html
    head
        title= title
        meta(charset="utf-8")
        
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
        
        script(src="/javascripts/jquery-3.2.1.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
    body
        block content
            
        
